@media  screen and (max-width: 480px){
    .login{
        width: 350px !important;
    }

    .google{
        margin-top: 0px !important;
    }
    .github{
        margin-top: 0px !important;
    }
}